.form-markdown{
    display: flex;
}

.form-markdown textarea{
  width: 250px;
  height: 250px;
  margin-right: 40px;
}
.form-markdown  .markdown-container {
    border: 2px dashed green;
    width: 250px;
    height: 250px;
}