
body {
    margin:0;
    padding: 0;
    height:1800px;
   
   }
   .App{
    color: #228b22;
    text-align: center;
   
   }
   .footer {
    background-color: rgb(12, 30, 12);
    border-top:1px solid red;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
    color: white;
    font-size: 15px;
    
    
   }
   .footer h6 {
    margin:10px;
    font-size: .75rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
